.block {
  width: 524.25px;
  padding: 26.25px 50px;
  background-color: #1A1A1A;
  border-radius: 26.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  font-size: 26.25px;
  font-weight: 600;
  margin-bottom: 23px;
}

.h2 {
  font-size: 18.75px;
  margin-bottom: 23px;
}

.flex {
  display: flex;
}

.button_blue {
  padding: 15px 33.75px;
  margin-right: 7.5px;
}

.button_black {
  padding: 15px 33.75px;
}

.button_black:hover {
  background-color: #333;
}