.custom_select {
  position: relative;
  font-size: 15px;
  display: flex;
}

.select_selected {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.select_items {
   /* TODO сделать стили выпадающего списка */
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
  border-radius: 12px;
  background-color: #1a1a1a;
}

.select_item {
  width: 100%;
  display: flex;
  justify-content: center;

  cursor: pointer;
  margin-bottom: 10px;
}

.select_img {
  margin-left: 22.5px;
  cursor: pointer;
}
