.button {
  border-radius: 18.75px;
  text-align: center;
}

.button_blue {
  transition-duration: 200ms;
  border-radius: 26.25px;
  background-color: #268cff;
}

.button_blue:hover {
  background-color: #57A6FF;
  transition-duration: 200ms;
}

.button_black {
  transition-duration: 200ms;
  border-radius: 26.25px;
  padding-left: 20.25px;
  padding-right: 20.25px;
  padding-top: 9.75px;
  padding-bottom: 9.75px;
  background-color: #0C0C0C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_black:hover {
  background-color: #268CFF;
  transition-duration: 200ms;
}

.button_black_red_hover {
  transition-duration: 200ms;
  border-radius: 26.25px;
  background-color: #0C0C0C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_black_red_hover:hover {
  background-color: #D91031;
  transition-duration: 200ms;
}