.button {
  border-radius: 18.75px;
  text-align: center;
  padding-top: 9.88px;
  padding-bottom: 9.88px;
  background-color: #268CFF;
  color: #fff;
  padding-left: 33.75px;
  padding-right: 33.75px;
}