.card {
  height: 173.25px;
  border-radius: 18.75px;
  padding: 18.75px 22.5px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card:hover {
  outline: 3px solid #268CFF;
}

.des {
  margin-top: 6.75px;
}

.card__flex {
  display: flex;
}

.namecard__flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}